lfs/*
.git/*

ant_orig/.vscode/*
ant_orig/Library/*
ant_orig/Logs/*
ant_orig/Temp/*
ant_orig/obj/*

*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db